doctype html
html(lang='en')
  head
    title Jade
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/app.min.css', rel='stylesheet')
  body
    .container
      .col-xs-12
        h1 Jade - node template engines
        p You are amazing
        p
          | Jade is a terse and simple templating language with a strong focus on performance and powerful features.
    script(type='text/javascript', src='/js/app.min.js')
