- var debug = false
doctype html
html(lang='en')
  head
    title Jade
    base(href='/')
    // css
    link(href='/css/bootstrap/bootstrap.min.css', rel='stylesheet')
    link(href='/css/app.min.css', rel='stylesheet')    
    if debug
        // polyfills
        script(src='/js/vendors/es6-shim.js')
        script(src='/js/vendors/shims_for_IE.js')
        script(src='/js/vendors/system-polyfills.js')
        script(src='/js/vendors/angular2-polyfills.js')
        // system
        script(src='/js/vendors/system.js')
        // rxjs
        script(src='/js/vendors/Rx.js')
        // angular2
        script(src='/js/vendors/angular2.dev.js')
        script(src='/js/vendors/router.dev.js')
        script(src='/js/vendors/http.dev.js')
    else
        // minified
        script(src='/js/vendors/vendors.min.js')
    script(type='text/javascript').
      System.config({ packages: { app: { format: 'register', defaultExtension: 'js' } } });
      System.import('/app/app.bootstrap').then(null, console.error.bind(console));
  body
    .container
      .col-xs-12
        h1 Jade - node template engines
        p You are amazing
        p
          | Jade is a terse and simple templating language with a strong focus on performance and powerful features.
        div(app='') loading...
    script(type='text/javascript', src='/js/app.min.js')
